img {
    width: 100px;
    height: 80px;
}

.active {
    border: 1px solid red;
}

span {
    display: inline-block;
    width: 80px;
    padding: 5px 10px;
    border: 1px solid pink;
    margin: 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px pink;
}