<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>天气预报</title>
</head>
<body>
    <div id="app">
        <input type="text" @keyup.enter="searchWeather" v-model="city" placeholder="请输入查询的城市" >
        <ul>
            <li v-for="item in weatherList">
                {{item.type}}
                <!-- 渲染接口的各个属性 -->
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/main.js"></script>

</body>
</html>